### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [73]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [74]:
pdat = purchase_data
pdat["SN"].value_counts().count()

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
#number of unique items
tot = pdat["Item Name"].value_counts().count()
#series (array) of unique items
items = pdat["Item Name"].unique()
#dataframe from (numpy) array
idat = pd.DataFrame(items)
pricelist = idat.join(pdat[["Price"]])
#averate pirce
av = pricelist.Price.mean()
summary = pd.DataFrame([[tot, av]], columns=["Total","Average"])
summary

   Total   Average
0    179  3.080335

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [76]:
SNs = pdat['SN'].unique()
#Screen Names has to be a dataframe not a simple array
SNs = pd.DataFrame(pdat['SN'].unique())
genders = SNs.join(pdat[["Gender"]])
gend = genders["Gender"].value_counts()
gend
tot = gend["Male"] + gend["Female"] + gend["Other / Non-Disclosed"]
males = [gend["Male"], gend["Male"] / tot]
females = [gend["Female"], gend["Female"]/tot]
other = [gend["Other / Non-Disclosed"], gend["Other / Non-Disclosed"]/tot]
print(f"Males {males[0]}, making up {males[1]} of the population.")
print(f"Males {females[0]}, making up {females[1]} of the population.")
print(f"Males {other[0]}, making up {other[1]} of the population.")

Males 476, making up 0.8263888888888888 of the population.
Males 88, making up 0.1527777777777778 of the population.
Males 12, making up 0.020833333333333332 of the population.


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [77]:
summ = pdat[["Gender", "Price"]].groupby(["Gender"]).sum()
cnt = pdat[["Gender","Price"]].groupby(["Gender"]).count()
avg = pdat[["Gender","Price"]].groupby(["Gender"]).mean()

#atppp = pdat[["Gender","Price","SN"]].groupby([["Gender","SN"]]).mean()
#fema = summ["Price"]["Female"] 
#for name, group in df.groupby([col_name]):
x = pdat[["SN","Gender","Price"]].groupby(["SN","Gender"]).mean()
avp = x["Price"].groupby("Gender").sum()
avp["Female"] / summ["Price"]["Female"]
avpf =  summ["Price"]["Female"]/ cnt["Price"]["Female"]
avpm =  summ["Price"]["Male"] / cnt["Price"]["Male"]
avpo =  summ["Price"]["Other / Non-Disclosed"] / cnt["Price"]["Other / Non-Disclosed"]
avpo
avps = pd.Series( data={"Female":avpf,"Male":avpm,"Other / Non-Disclosed":avpo})
avg["Price"].map('${:,.2f}'.format)
#from stack exchange
#dear god, how can i do format on a differentline?
summary = pd.DataFrame(data=[cnt["Price"],avg["Price"].map('${:,.2f}'.format),summ["Price"].map('${:,.2f}'.format),avps.map('${:,.2f}'.format)] ,index=["Purchase Count","Average Purchase Price","Total Purchase Value","Avg Total Purchase per Person"])
summary = summary.T
#following line does ALL, thats nearly useless
#pd.options.display.float_format = '${:,.2f}'.format
type(avg["Price"])
summary

#sumRE["Average"] = {"Femal":10, "Male":34, "Other / Non-Disclosed":30}
#sumRE["Average"] = {"Femal":fema, "Male":mala, "Other / Non-Disclosed":otha}

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$3.20
Male,652,$3.02,"$1,967.64",$3.02
Other / Non-Disclosed,15,$3.35,$50.19,$3.35

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [78]:
pdat['Age Range'] = pd.cut(pdat["Age"],bins=[0,9,14,19,24,29,34,39,120], precision=0, labels=["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"])
#pbins.sample(50)
ages = pdat[['SN','Age Range']].groupby("Age Range").count()['SN']
#pbin = pd.DataFrame(pbins,columns=["Bin","Age"])
#pdat2 = pdat.join(pbins)
#pbin
ages.sum()
agesummary = pd.DataFrame()

agesummary["Count"] = [x for x in ages]
agesummary["Percentage of Players"] = [x/773 for x in ages]
agesummary.index = ages.index
agesummary

           Count  Percentage of Players
Age Range
<10           23               0.029754
10-14         28               0.036223
15-19        136               0.175938
20-24        365               0.472186
25-29        101               0.130660
30-34         73               0.094437
35-39         41               0.053040
40+           13               0.016818

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [291]:
pa = pd.DataFrame()
pa["Purchase Count"] = pdat.groupby("Age Range").count()['SN']
pa.index = ages.index
pa["Average Purchase Price"] = pdat[['Price','Age Range']].groupby("Age Range").mean()
pa["Average Purchase Price"] = pa["Average Purchase Price"].map('${:,.2f}'.format)
pa["Total Purchase Value"] = pdat[['Price','Age Range']].groupby("Age Range").sum()
pa["Total Purchase Value"] = pa["Total Purchase Value"].map('${:,.2f}'.format)
#probably a dirty way to do this, but its straighforward
URT = []
for agerange in pdat.groupby('Age Range')['SN','Price']:
    #maddeningly this returns an array of [range string ,results dataframe]
    thisrange = agerange[0]
    userrangetot = agerange[1].groupby("SN")["Price"].sum()
    autp = userrangetot.sum() / userrangetot.count()
    URT.append([thisrange, autp])

#print(URT)
urtdf = pd.DataFrame(URT, columns=["Age Range","Tot"])
print(urtdf["Tot"][2])
#urtdf[0]
#WHY IN GODS NAME DO I NEED TO PUT "sum()" on the following line to make it work?
pa["Avg Total Purchase per Person"] = [x for x in urtdf["Tot"]] #int(urtdf['Tot'][0])
pa["Avg Total Purchase per Person"] = pa["Avg Total Purchase per Person"].map('${:,.2f}'.format)
#pa["Avg Total Purchase per Person"] = [sum(x) for x in pdat[['Price','Age Range','SN']]]
#pa["Avg Total Purchase per Person"] = pdat[['Price','Age Range','SN']].groupby(["Age Range","SN"]).mean()
pa

3.85878504673

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [314]:
topc = pdat.groupby("SN").Price.count()
tops = pdat.groupby("SN").Price.sum()
topm = pdat.groupby("SN").Price.mean()
tapps = pd.concat([topc,topm,tops], axis=1)
tapps.columns = ["Purchase Count","Average Purchase Price", "Total Purchase Value"]
tapps.sort_values(by="Total Purchase Value", ascending=False).head(5)

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [408]:
itemz = pdat[["Item ID", "Item Name", "Price"]]
itemz = itemz.drop_duplicates()
pc = pdat.groupby("Item ID").count()["Purchase ID"]
#pc.sort_values(ascending=False)
pc.rename(columns={"Item ID": "Item ID", "": "Count"})
#print(pc.sort_values(ascending=False))

itemz = itemz.join(pc, on="Item ID")

itemz = itemz.rename(columns={"Item ID":"Item ID","Items Name":"Item Name", "Price":"Price","Purchase ID":"Count"})
itemz["Total"] = itemz["Price"] * itemz["Count"]
#itemz.sort_values(by="Count", ascending=False).drop_duplicates().head()
itemz.sort_values(by=["Count","Total"], ascending=False).head()

,Item ID,Item Name,Price,Count,Total
25,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
18,82,Nirvana,4.90,9,44.10
132,145,Fiery Glass Crusader,4.58,9,41.22
0,108,"Extraction, Quickblade Of Trembling Hands",3.53,9,31.77
2,92,Final Critic,4.88,8,39.04

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [411]:
itemz.sort_values(by=["Total"], ascending=False).head()

,Item ID,Item Name,Price,Count,Total
25,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,12,50.76
18,82,Nirvana,4.90,9,44.10
132,145,Fiery Glass Crusader,4.58,9,41.22
2,92,Final Critic,4.88,8,39.04
175,103,Singed Scalpel,4.35,8,34.80